* {
  list-style: none;
  text-decoration: none;
}
body {
  padding: 0px;
  margin: 0px;
  background: url("../img/hojas.jpg");
  background-attachment: fixed;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  display: grid;
  min-height: 1200px;
  margin: 0px 5% 0px 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 25% 52% 13%;
  background-color: #fff;
}

.header {
  grid-column: 1/5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 10px #ccc;
  background-color: #eee;
}

.logo {
  flex-basis: 40%;
  flex-grow: 1;
}

.logo .img_container {
  width: 22%;

  margin-left: 40%;
  margin-right: 40%;
}

.img_container img {
  width: 100%;
  height: inherit;
  border-radius: 20px;
}

.menu {
  flex-basis: 45%;
  flex-grow: 1;
}

.menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu ul li a {
  font-size: 25px;
  cursor: pointer;
  padding: 15px 10px 15px 10px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 250ms;
}

.menu ul li:last-child {
  margin-right: 1%;
}

.menu ul li a:hover {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
}

.slider {
  grid-column: 1/5;
  width: 74%;
  margin: 3% 13% 3% 13%;
}

.bx-wrapper,
.bx-viewport {
  margin: 0px auto !important;
  height: 200px !important;
}

.main {
  grid-column: 1/5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.section {
  flex-basis: 60%;
  flex-grow: 1;
  margin: 0px 1% 0px 1%;
  overflow-y: scroll;
  max-height: 595px;
}

.post {
  margin-left: 2%;
}

.article h2,
.article span {
  display: block;
  text-align: center;
}

.article span {
  color: #444;
}
.article p {
  font-size: 20px;
  line-height: 25px;
  color: #222;
  text-align: left;
  padding: 10px 10px 5px 10px;
  letter-spacing: 1px;
}
.aside {
  flex-basis: 20%;
  flex-grow: 1;
  margin: 0px 1% 0px 1%;
}

.content-quien {
  text-align: center;
}
.span_h3 {
  display: block;
  margin: 0px 6% 0px 6%;
  background-color: rgb(14, 168, 0);
}

.span_h3 h3 {
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 5px;
}

.img_aside {
  width: 50%;
  height: 20%;
  margin: 0px 25% 0px 25%;
}

.img_aside img {
  width: 100%;
  height: 100%;
}

.aside .cont_form {
  display: block;
  width: 60%;
  margin: 10% 20% 20px 20%;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 4px #ccc;
  border-radius: 10px;
}

.form {
  text-align: center;
  padding: 7% 10px 7% 10px;
}

.form label,
.form input[type="text"],
.form input[type="button"] {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.caja {
  width: 80%;
  height: 25px;
  padding: 5px;
}

#save {
  background-color: rgb(1, 149, 1);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-weight: bold;
  box-shadow: 0px 1px 2px rgb(1, 149, 1);
  transition: all 250ms;
}

#save:hover {
  background-color: rgb(4, 105, 4);
}

.footer {
  grid-column: 1/5;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0px -1px 5px #ccc;
  margin-top: 2%;
  background-color: #eee;
}

.copy span {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-validator {
  width: 24%;
  margin: 10px 38% 10px 38%;
}

#form-j {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

#form-j input[type="text"],
#form-j input[type="button"],
#form-j label {
  margin: 10px 0px 10px 0px;
}

.label-js {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 1px;
}

.text-js {
  width: 80%;
  height: 25px;
  font-size: 23px;
  color: #000;
  border-radius: 5px;
}

.text-js:focus {
  background-color: rgba(255, 43, 43, 0.3);
}

.guardar-js {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 168, 0);
  box-shadow: 0px 1px 2px #ccc;
  font-weight: bold;
  transition: all 250ms;
}

.guardar-js:hover {
  background-color: rgb(4, 105, 4);
  color: #ccc;
}

/* medias querys */

@media (max-width: 1024px) {
  .header {
    box-shadow: 0px 1px 1px #ccc;
  }
  .logo .img_container {
    width: 28%;
    margin-left: 36%;
    margin-right: 36%;
  }

  .menu ul li a {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .logo {
    flex-basis: 25%;
  }

  .logo .img_container {
    width: 38%;
    margin-left: 31%;
    margin-right: 31%;
  }

  .img_container img {
    border-radius: 8px;
  }

  .menu ul li a {
    font-size: 30px;
  }

  .dark {
    margin-left: 5%;
  }

  .section {
    flex-basis: 45%;
  }

  .aside .cont_form {
    width: 70%;
    margin: 10% 15% 20px 15%;
  }

  .form label,
  .form input[type="text"],
  .form input[type="button"] {
    font-size: 25px;
  }

  #save {
    letter-spacing: 0px;
    padding: 2px;
    border-radius: 5px;
    padding: 5px;
  }

  .copy span {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0px;
  }
}

@media (max-width: 667px) {
  #save {
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  .container {
    grid-template-rows: 10% 17% 64% 9%;
  }
  .main {
    flex-flow: column wrap;
  }

  .copy {
    width: 80%;
    margin: 0px 10% 0px 10%;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .container {
    grid-template-rows: 12% 17% 61% 10%;
  }
  .logo .img_container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .main {
    flex-flow: column wrap;
  }

  .copy {
    width: 80%;
    margin: 0px 10% 0px 10%;
    text-align: center;
  }
}
